<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Rooms</title>
  <%= stylesheet_link_tag 'chat_rooms', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="chat-container">
    <div class="chat-list">
      <h2>Chat Rooms</h2>
      <ul>
        <% @chat_rooms.each do |chat_room| %>
          <li>
            <%= link_to chat_room.name, chat_room_path(chat_room), class: 'chat-room-link' %>
            <div class="user-list">
              <% chat_room.users.each do |user| %>
                <% if user.icon.attached? %>
                  <%= image_tag user.icon, class: 'user-icon' %>
                <% else %>
                  <%= image_tag 'default_user_icon.png', class: 'user-icon' %>
                <% end %>
                <span class="user-name"><%= user.username %></span>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <%= link_to 'Create Chat Room', new_chat_room_path, class: 'create-chat-room-btn' %>
  </div>
</body>
</html>
