<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @chat_room.name %></title>
  <link rel="stylesheet" href="styles.css">
  <%= stylesheet_link_tag 'chat_room_details', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="chat-room-details-container">
    <div class="chat-room-header">
      <h2><%= @chat_room.name %></h2>
      <div class="user-info">
        <ul>
          <div class="user-list">
            <% @chat_room.users.each do |user| %>
              <div class="user-details">
                <% if user.icon.attached? %>
                  <%= image_tag user.icon, class: 'user-icon' %>
                <% else %>
                  <%= image_tag 'default_user_icon.png', class: 'user-icon' %>
                <% end %>
                <span class="user-name"><%= user.username %></span>
              </div>
            <% end %>
          </div>
        </ul>
      </div>
    </div>

    <!-- イベント一覧へのリンクを追加 -->
    <div class="event-link">
      <%= link_to 'Event', chat_room_events_path(@chat_room), class: 'btn btn-secondary' %>
    </div>

    <!-- メッセージ一覧を表示 -->
    <div class="messages">
      <% @chat_room.messages.each do |message| %>
        <div class="message">
          <div class="message-user">
            <div class="user-details">
              <% if message.user.icon.attached? %>
                <%= image_tag message.user.icon, class: 'user-icon' %>
              <% else %>
                <%= image_tag 'default_user_icon.png', class: 'user-icon' %>
              <% end %>
              <span class="user-name"><%= message.user.username %></span>
            </div>
          </div>
          <div class="message-content">
            <%= message.content %>
          </div>
          <div class="message-timestamp"> 
            <%= message.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- メッセージ送信フォーム -->
    <div class="chat-input-form">
      <%= form_with(model: [@chat_room, Message.new], local: true) do |f| %>
        <div class="field">
          <%= f.text_field :content, placeholder: "Type your message here...", class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit "Send", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="chat-actions">
      <%= link_to 'Delete Chat Room', chat_room_path(@chat_room), data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-danger delete-chat-room' %>
    </div>
  </div>
</body>
</html>
