<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @chat_room.name %></title>
  <link rel="stylesheet" href="styles.css">
  <%= stylesheet_link_tag 'chat_room_details', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="chat-room-details-container">
    <div class="chat-room-header">
      <h2><%= @chat_room.name %></h2>
        <div class="user-info">
          <ul>
            <% @chat_room.users.each do |user| %>
              <% if user.icon.attached? %>
                <%= image_tag user.icon, class: 'user-icon' %>
              <% else %>
                <%= image_tag 'default_user_icon.png', class: 'user-icon' %>
              <% end %>
              <span class="user-name"><%= user.username %></span>
            <% end %>
          </ul>
        </div>
      <%= link_to 'Event', chat_room_events_path(@chat_room), class: 'btn btn-secondary' %> <!-- Eventボタン追加 -->
    </div>
    <div class="messages">
      <% @messages.each do |message| %>
        <div class="message">
          <div class="message-user">
            <%= message.user.username %>
          </div>
          <div class="message-content">
            <%= message.content %>
          </div>
          <div class="message-timestamp">
            <%= message.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="chat-input-form">
      <%= form_with(model: [@chat_room, Message.new], local: true) do |f| %>
        <div class="field">
          <%= f.text_field :content, placeholder: "Type your message here...", class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit "Send", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="chat-actions">
      <%= link_to 'Delete Chat Room', chat_room_path(@chat_room), data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-danger delete-chat-room' %> <!-- 削除ボタンを右下に配置 -->
    </div>
  </div>
</body>
</html>
