<!-- app/views/devise/registrations/new.html.erb -->
<%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
<body class="devise-form-page">
  <div class="devise-form-container">
    <h2>Sign Up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="devise-field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "devise-input-field" %>
      </div>
      <div class="devise-field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "devise-input-field" %>
      </div>
      <div class="devise-field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "devise-input-field" %>
      </div>
      <div class="devise-field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "devise-input-field" %>
      </div>

      <div class="devise-actions">
        <%= f.submit "Sign up", class: "devise-btn-primary" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</body>
