<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CycleConnect</title>
  <%= stylesheet_link_tag 'home', media: 'all' %>
    <style>
    .hero .background-image:nth-child(1) {
      background-image: url('<%= asset_path('hero1.jpg') %>');
      animation-delay: 0s;
    }

    .hero .background-image:nth-child(2) {
      background-image: url('<%= asset_path('hero2.jpg') %>');
      animation-delay: 4s;
    }

    .hero .background-image:nth-child(3) {
      background-image: url('<%= asset_path('hero3.jpg') %>');
      animation-delay: 8s;
    }

  </style>
</head>
<body>

<header class="hero">
  <div class="background-image"></div>
  <div class="background-image"></div>
  <div class="background-image"></div>
  <div class="container">
    <h1 class="title">Welcome to CycleConnect</h1>
    <p class="subtitle">Connect, Share, and Ride with Fellow Cyclists</p>
    <div class="button-container">
      <%= link_to 'Get Started', new_user_registration_path, class: 'btn top-btn-primary' %>
      <%= link_to 'Log In', new_user_session_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</header>

<div class="features">
  <div class="container">
    <div class="feature">
      <i class="icon fa fa-user"></i>
      <h2>User Profiles</h2>
      <p>Manage your profile and connect with other cyclists.</p>
    </div>
    <div class="feature">
      <i class="icon fa fa-camera"></i>
      <h2>Photo Sharing</h2>
      <p>Share your cycling moments with photos and maps.</p>
    </div>
    <div class="feature">
      <i class="icon fa fa-comments"></i>
      <h2>Chat</h2>
      <p>Chat with multiple users in real-time.</p>
    </div>
    <div class="feature">
      <i class="icon fa fa-calendar"></i>
      <h2>Events</h2>
      <p>Join and create cycling events.</p>
    </div>
  </div>
</div>

</body>

</html>
